<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>
  <head>
    <title>Forgot password?</title>
  </head>
  <body>
    <h2>Click on the link below to reset your password.</h2>
    <b>Reset link:</b> {{ resetLink }}
  </body>
</html>
