<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>
  <head>
    <title>Reset account password confirmation.</title>
  </head>
  <body>
    <h2>Your account password has been changed</h2>
  </body>
</html>
