<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>
  <head>
    <title>Reset account password.</title>
  </head>
  <body>
    <h2>To reset the account password use the following code</h2>
    <b>Code:</b> {{ code }}
  </body>
</html>
