<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=' />
  </head>
  <head>
    <title>User registration.</title>
  </head>
  <body>
    <h2>To complete the account registration use the following code:</h2>
    <h1>{{ code }}</h1>
  </body>
</html>
